GOBENCH_SCORER=mock
GOBENCH_DB=./data/gobench.sqlite
GOBENCH_PRIVATE_POSITIONS=./data/private_test/positions.jsonl
KATAGO_BIN=/path/to/katago
KATAGO_MODEL=/path/to/model.bin.gz
KATAGO_CONFIG=/path/to/analysis.cfg
KATAGO_MAX_VISITS=2048
KATAGO_ANALYSIS_PV_LEN=12
KATAGO_REPORT_ANALYSIS_AS=SIDETOMOVE
